<div class="address_box">

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<%= form_for(@user, :url => user_path(@user), :html => { :method => :put }) do |f| %>

<h2><%= t("bronto.my_newsletters") %></h2>
<br/>
  <table style="text-align: left">
    <tr>
      <th width="250px"><%= t('name') %></th>
      <th><%= t('bronto.subscribed') %></th>
    </tr>
    <%= render :partial => "spree/bronto_lists/form", @collection => @bronto_lists, :locals => { :f => f } %>
  </table>
<br/>
<%=button_tag t("bronto.update_subscriptions")%>
<% end %>
<br/>
</div>
