<p>This email is to inform you that your order has been shipped on <%= Time.now.strftime("%B %d %Y at %I:%M %p") %>.</p>

<p>
  <strong>Your tracking details:</strong><br />
  Package ID: <%= order.shipments.first.number %><br />
  Sent date: <%= order.shipments.first.updated_at.strftime("%B %d %Y at %I:%M %p") %><br />
  Shipped via: <%= order.shipments.first.shipping_method.name %><br /><br />
  <%unless order.shipments.first.shipping_method.blank? || order.shipments.first.tracking.blank? %>
    <%= order.shipments.first.shipping_method.name%> Tracking Number: <%= order.shipments.first.tracking %><br />
    To track your package, go to:<br />
    <a href="<%= order.shipments.first.shipping_method.tracking_url.to_s+order.shipments.first.tracking.to_s %>"><%=order.shipments.first.shipping_method.name %> Tracking</a>
  <% end %>
</p>

<p>
Here are the details of the order we received on <%= order.completed_at.strftime("%B %d %Y at %I:%M %p") %>.
</p>
<p>Your order number is <strong class="pink"><%= order.number %></strong> Please keep it for reference if you speak to a customer service representative.</p>
<p>Your <%= order.store.name %> order includes the following item(s):</p>
<%= render "order_mailer/order_details_html", :order => order %>