<div align="center">
  <table border="0" cellspacing="1" cellpadding="5" class="products" width="500">
    <tr>
      <td valign="top" align="center"><strong>QTY</strong></td>
      <td valign="top"><strong>Name</strong></td>
      <td valign="top" align="center"><strong>SKU</strong></td>
      <td valign="top" align="center"><strong>Each</strong></td>
      <td valign="top" align="center"><strong>Total</strong></td>
    </tr>
    <% order.line_items.each do |item| %>
      <tr>
        <td valign="middle" align="center" bgcolor="#ebf3f8"><%= item.quantity %></td>
        <td valign="middle" align="left" bgcolor="#ebf3f8"><%= Rack::Utils.escape_html(item.variant.product.name.gsub!(/[^0-9A-Za-z]/, ' ')) %></td>
        <td valign="middle" align="center" bgcolor="#ebf3f8"><%= item.variant.sku %></td>
        <td valign="middle" align="center" bgcolor="#ebf3f8"><%= number_to_currency item.price %></td>
        <td valign="middle" align="right" bgcolor="#ebf3f8"><%= number_to_currency(item.price * item.quantity) %></td>
      </tr>
    <% end %>
    <tr>
      <td valign="top" align="left" colspan="2" rowspan="6" class="bigger">
        <br />
        <p><strong>These items will be shipped to:</strong><br />
          <% address=!order.ship_address ? order.bill_address : order.ship_address %>
          <%= address.firstname %> <%= address.lastname %><br />
          <%= address.address1 %><br />
          <% unless address.address2.blank? %>
            <%= address.address2 %><br />
          <% end %>
          <%= address.city %>
          <% if address.state_id.blank? %>
            <br /><%= address.state_name %><br />
          <% else %>
            <%= address.state.abbr %><br />
          <% end %>
          <%= address.country.name %> <%= address.zipcode %>
        </p>
      </td>
      <td valign="middle" align="right" colspan="2">Sub Total</td>
      <td valign="middle" align="right"><%= number_to_currency order.item_total %></td>
    </tr>

    <% if order.line_item_adjustments.exists? %>
        <% order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
            <% if adjustments.sum(&:amount) != 0 %>
            <tr>
              <td valign="middle" align="right" colspan="2"><%= label %></td>
              <td valign="middle" align="right"><%= Spree::Money.new(adjustments.sum(&:amount), :currency => order.currency) %></td>
            </tr>
            <% end %>
        <% end %>
    <% end %>

    <% amount=order.all_adjustments.tax.eligible.sum(:amount)
       if amount>0 %>
        <tr>
          <td valign="middle" align="right" colspan="2"><%= Spree.t(:tax) %></td>
          <td valign="middle" align="right"><%= Spree::Money.new(amount, :currency => order.currency) %></td>
        </tr>
    <% end %>

  <% order.shipments.each do |shipment| %>
    <tr>
              <td valign="middle" align="right" colspan="2"><%= Spree.t(:shipping) %></td>
              <td valign="middle" align="right"><%= shipment.display_discounted_cost %></td>
            </tr>
  <% end %>


    <% order.adjustments.eligible.group_by(&:label).each do |label, adjustments| %>
        <% if adjustments.sum(&:amount) != 0 %>
        <tr>
          <td valign="middle" align="right" colspan="2"><%= label %></td>
          <td valign="middle" align="right"><%= Spree::Money.new(adjustments.sum(&:amount), :currency => order.currency) %></td>
        </tr>
        <% end %>
    <% end %>

    <tr>
      <td valign="middle" align="right" colspan="2"><strong>Total (USD)</strong></td>
      <td valign="middle" align="right"><strong><%= number_to_currency order.total %></strong></td>
    </tr>
  </table>
</div>